<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="MuiltipleRankerFeed" value="https://pkgs.dev.azure.com/delaneytech/MultipleRanker/_packaging/MuiltipleRankerFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>